:host {
    height: 100%;
}

.grid {
    display: grid;
    ::ng-deep .ag-theme-material {
        min-height: 200px;
        max-height: 400px;
    }
}

avidi-ag-grid {
    margin-bottom: 10px;
}

mat-card-content {
    margin-bottom: 0;
}


mat-card-subtitle, mat-card-actions {
    display: flex;
    justify-content: center;
}
