<mat-card class="market-list">
    <mat-card-subtitle>Markets</mat-card-subtitle>
    <mat-card-content class="market-list-content">
      <avidi-ag-grid class="grid" 
        [data]="data" 
        [columns]="columnDefs" 
        [rowSelection]="'single'"
        [checkboxSelection]="false" 
        [pagination]="true" 
        [paginationPageSize]="paginationPageSize"
        (evSelItem)="onItemSelected($event)">
      </avidi-ag-grid>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="editMarket()" [disabled]="editBtnDisabled">Edit</button>
      <button mat-raised-button (click)="deleteMarket()" [disabled]="delBtnDisabled">Delete</button>
    </mat-card-actions>
  </mat-card>
