:host {
  height: 100%;
}

.market-cru{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

mat-card {
  padding: 0 !important;

  & > * {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-card-subtitle {
    margin-top: 10px;
  }
}

form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 20px;

  .fifty {
    display: flex;
    justify-content: space-between;
    flex-direction: row;      
    max-width: 300px;

    & > mat-form-field {
      width: 45%;
    }
  }

  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
}

section {
  display: flex;
  width: 50%;
  max-width: 300px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
}

mat-card-actions {
  padding: 0 10px;
}

textarea {
  max-height: 100px;
}

button {
    width: 80px;
}