<mat-card class="market-cru">
    <mat-card-subtitle>{{title}} Market</mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" #formDirective="ngForm">
        <section>
          <mat-form-field>
            <input type="text" matInput placeholder="Name" formControlName="name" [value]="market2Edit?.name">
            <mat-error *ngIf="submitted && fc('name').errors">
              Market name is a required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Sector" formControlName="sector" [value]="market2Edit?.sector">
            <mat-error *ngIf="submitted && fc('sector').errors">
              Market sector is a required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Industry" formControlName="industry" [value]="market2Edit?.industry">
            <mat-error *ngIf="submitted && fc('industry').errors">
              Market industry is a required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Country" formControlName="country" [value]="market2Edit?.country">
            <mat-error *ngIf="submitted && fc('country').errors">
              Market country is a required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput placeholder="Symbol" formControlName="symbol" [value]="market2Edit?.symbol">
            <mat-error *ngIf="submitted && fc('symbol').errors">
              Market symnbol is a required field
            </mat-error>
          </mat-form-field>          
        </section>

        <section>
          <mat-form-field>
            <input type="number" matInput placeholder="Last Price" formControlName="lastPrice" [value]="market2Edit?.lastPrice">
            <mat-error *ngIf="submitted && fc('lastPrice').errors">
              Market last price is a required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Year" formControlName="ipoYear" [value]="market2Edit?.ipoYear">
            <mat-error *ngIf="submitted && fc('ipoYear').errors">
              Year is a required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Market Capacity" formControlName="marketCap" [value]="market2Edit?.marketCap">
            <mat-error *ngIf="submitted && fc('marketCap').errors">
              Market capacity is a required field
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="number" matInput placeholder="Volume" formControlName="volume" [value]="market2Edit?.volume">
            <mat-error *ngIf="submitted && fc('volume').errors">
              Volume is a required field
            </mat-error>
          </mat-form-field>
          <div class="fifty">
            <mat-form-field>
              <input type="number" matInput placeholder="Net Change" formControlName="netChange" [value]="market2Edit?.netChange">
              <mat-error *ngIf="submitted && fc('netChange').errors">
                Net change is a required field
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="number" matInput placeholder="Net Change Percent" formControlName="netChangePercent" [value]="market2Edit?.netChangePercent">
              <mat-error *ngIf="submitted && fc('netChangePercent').errors">
                Net change percent is a required field
              </mat-error>
            </mat-form-field>
          </div>  
          <!-- <mat-form-field>
            <textarea matInput rows="3" placeholder="Description" formControlName="description" [value]="market2Edit?.industry">
            </textarea>
            <mat-error *ngIf="submitted && f.description.errors?.maxLength">
              Product description length must be not exceed 250 character
            </mat-error>
          </mat-form-field> -->
        </section> 
        <footer> 
          <mat-error *ngIf="error" class="alert">{{ error }}</mat-error>
          <button mat-raised-button color="primary" type="submit">{{action}}</button>
        </footer>
      </form>
    </mat-card-content>
    <!--<mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </mat-card-actions>-->
  </mat-card>
  
