<mat-toolbar color="primary">
    <span routerLink="/">AVIDI - Markets</span>
    <span style="flex: 1 1 auto"></span>
    <span class="example-spacer"></span>
    <button mat-raised-button aria-label="Manage market" routerLink="/manage">Add Market</button>
</mat-toolbar>
