:host {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    padding: 5px 0;
    border-radius: 3px;
  
    span {
      color: black;
      font-weight: bold;
    }
  }